ul {
list-style-type: none;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;

}

a:visited {
    color: black;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-primary {
    color:#335eea
}

/*common-done*/
header {
    width: 55%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto; 
    padding-left: 20px !important;
    padding-right: 20px !important;
}

header .navbar-brand {
    padding-top: 30px;
}

header .button-buy {
    border: 0;
    display: inline-block;
    font-weight: 600;
    height: 50px;
    width: 100px;
    margin:0;
    border-radius: 5px;
    background-color:#335eea;
}

.navbar-dropmenu {
    width: 80%;
    display: flex;
    justify-content:space-between;
    text-align: center;
}

.navbar-items {
    width: 60%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin:0 auto;
    margin-right: 20%;
}



.dropdown-toggle {
    color: #506690;
}

.navbar-item {
    position:relative;
    padding-top: 15px;
    padding-bottom:30px;
    padding-right: 20px;
    padding-left: 10px;
}

.navbar-item:hover > .dropdown-menu {
    visibility: visible;
    opacity:1;
    transform: translate3d(0,-5px,0);
    box-shadow: 0 5rem 6rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.05)!important;
}

.dropdown-menu {
    visibility: hidden;
    opacity: 0;
    margin: 0 0 0;
    font-size: .9375rem;
    color: #161c2d;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(22,28,45,.15);
    border-radius: .375rem;
    transition: visibility 0s, opacity 0.2s linear;
}

#dropdown-landings {
    width: 700px;
    position: absolute;
    top: 50px;
    left: -200px;
    height: 300px;
    box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 10%);
}

.landings-container {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: row;
}

.landings-container > .left-menu-container {
    width:50%;
    height:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url("/assets/img/photo-3.jpg");
    background-position: center;
    background-size:350px ;
    background-repeat: no-repeat;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
}


.landings-container > .left-menu-container::before {
    width:50%;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(51,94,234,.8);
    border-radius: inherit;
    z-index: 1;
}

.landings-container > .left-menu-container > * {
    z-index: 100;
}

.landings-container > .left-menu-container > button {
    border: 0;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;

}
.landings-container .right-menu-container {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.landings-container > .right-menu-container > .right-part {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.landings-container > .right-menu-container > .right-part > a {
    margin-top: 10px;
    clear: both;
    font-weight: 400;
    color: #506690;
    text-align: inherit;
    white-space: nowrap;
}

.landings-container > .right-menu-container > .right-part {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    padding-left: 20px;
}

.landings-container .right-menu-container h3 {
    font-weight: normal !important;
    color: rgba(51,94,234,.8) !important;
}

.landings-container > .right-menu-container > .left-part {
    display: flex;
    flex-direction: column;

    margin-left: 20px;
}

.landings-container > .right-menu-container > .left-part > a {
    clear: both;
    font-weight: 400;
    color: #506690;
    text-align: inherit;
    white-space: nowrap;
}

.landings-container > .right-menu-container > .left-part > * {
    margin-left: 50px;
}

.landings-container > .right-menu-container > .left-part > a {
    margin-top: 10px;
}

#dropdown-pages {
    position:absolute;
    width: 500px;
    height:300px;
    top: 50px;
    left: -220px;
    background-color: white;
    box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 10%);
}

#dropdown-pages  .cols-pages {
    display:flex;
    justify-content:space-between;
    width: 90%;
    height:400px;
    margin: auto;
}

#dropdown-pages .cols-pages col {
    width: 30px;
}

.dropdown-header {
    margin-bottom: 0px;
}

#dropdown-pages > .cols-pages > col > .dropdown-item {
    color: #506690;
}
#dropdown-pages .cols-pages .dropdown-header {
    font-weight: normal;
    color:#335eea;
}

#dropdown-pages .cols-pages .dropdown-item {
    padding-top: 10px ;
    font-weight: normal;
    font-size: 17px;
}

.dropdown-account {
    position:absolute;
    top: 60px;
    left: -40px;
    height: 181px;
    width: 206px;
    box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 10%);
    display:flex
}

.dropdown-acc-layer1 {
    margin-top: 20px;
    height:75%;
    width:100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15px;
}

.dropdown-account ul li {
    cursor: pointer;
    padding-bottom: 6px;
}

.drop-acc-item {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content:space-between

}

.drop-acc-layer2-item1 {
    visibility: hidden;
    position:absolute;
    opacity: 0;
    top:0px;
    left: 210px;
    height:100%;
    width: 90%;
    border-radius:5px;
    color: #161c2d;
    text-align: left;
    background-clip: padding-box;
    background-color:aliceblue;
    transition: visibility 0s, opacity 0.2s linear;
}

.drop-acc-layer2-item2 {
    visibility: hidden;
    position:absolute;
    opacity: 0;
    top:30px;
    left: 210px;
    height:100%;
    width: 90%;
    border-radius:5px;
    color: #161c2d;
    text-align: left;
    background-clip: padding-box;
    background-color:aliceblue;
    transition: visibility 0s, opacity 0.2s linear;
}

.drop-acc-layer2-item3 {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:50px;
    left: 210px;
    height:100%;
    width: 90%;
    border-radius:5px;
    color: #161c2d;
    text-align: left;
    background-clip: padding-box;
    background-color:aliceblue;
    transition: visibility 0s, opacity 0.2s linear;
}

.drop-acc-layer2-item4 {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:70px;
    left: 210px;
    height:100%;
    width: 90%;
    border-radius:5px;
    color: #161c2d;
    text-align: left;
    background-clip: padding-box;
    background-color:aliceblue;
    transition: visibility 0s, opacity 0.2s linear;
}

.drop-acc-layer2-item5 {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:80px;
    left: 210px;
    height:100%;
    width: 90%;
    border-radius:5px;
    color: #161c2d;
    text-align: left;
    background-clip: padding-box;
    background-color:aliceblue;
    transition: visibility 0s, opacity 0.2s linear;
}

.layer2-container {
    height:100%;
    margin-top: 20px;
    height:75%;
    width:100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15px;
}

.item1 {
    padding-right: 70px;
}

.item1:hover > .drop-acc-layer2-item1 {
    visibility:visible;
    opacity: 1;
}
.item2:hover > .drop-acc-layer2-item2 {
    visibility:visible;
    opacity: 1;
}
.item3:hover > .drop-acc-layer2-item3 {
    visibility:visible;
    opacity: 1;
}
.item4:hover > .drop-acc-layer2-item4 {
    visibility:visible;
    opacity: 1;
}
.item5:hover > .drop-acc-layer2-item5 {
    visibility:visible;
    opacity: 1;
}

.drop-doc {
    position: absolute;
    background-color:white;
    left:-100px;
    top: 50px;
    width: 350px;
    height:300px;
    box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 10%);
}

.dropdown-menu-doc {
    width: 100%;
    height:100%;
}

.dropdown-menu-doc > ul {
    width: 100%;
    height: 100%;
}

.dropdown-item-doc {
    display: flex;
    height:33%;
    width:80%;
    flex-direction: row;
}

.dropdown-item-doc svg {
    width: 13%;
    height: auto;
}

.dropdown-item-doc .item-doc-des {
  margin-left: 30px;
  margin-top: 5px;
}

.dropdown-item-doc .item-doc-des h3 {
    font-size:18px;
    text-transform: uppercase;
    font-weight:lighter;
    color:#335eea;
}

.dropdown-item-doc .item-doc-des p {
    font-size:16px;
    margin-top: -10px;
}

#badge-doc {
    color: #335eea;
    background-color:rgba(51,94,234,.1);
    text-align: center;
    height: 19px;
    width:55px;
    border-radius:15px;
    padding-top: 1px;
    margin-top: 40px;
    margin-left: 10px;
    
}

.navbar-toggler {
    visibility: hidden;
    border: 0;
    background-color: transparent;
    color:#506690;
    cursor: pointer;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}
/*responsive header */
@media only screen and (max-width: 980px) {
    .navbar-toggler {
        visibility: visible;
    }

    .navbar-dropmenu {
        display: none;
    }
}

/*banner*/
.banner {
    width: 60%;
    margin: auto;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    }
    
    
    .banner-image img {
        width: 35vw;
    }
    
    .left-part {
        margin-top: 20px;
        width: 60%
    }
    
    .left-part p {
        line-height: 1.2;
        font-size: 38px;
        font-weight: normal !important;
    }
    
    .left-part .description {
        color: #869AB8;
        font-size: 19px;
    }
    .buttons {
        margin-top: 58px;
        padding-top: 1%;
    }
    
    #btn-view {
        width:11vw;
        height: 55px;
        color: white;
        font-size: 17px;
        background-color: #335eea;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
    }
    
    #btn-doc {
        width:12vw;
        height: 55px;
        color: #335eea;
        background:#E1E7FC;
        font-size: 17px;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
    }
    

 /*target-type */
    
    .target-type {
        width: 70%;
        margin: auto;
        padding-top: 10vh;
        padding-left: 5%;
    }
    
    .target-type {
        display: flex;
        flex-direction: row;
    }
    
    .targets {
        display: flex;
        justify-content:baseline;
        text-align: left;
    }
    
    .target {
        width:25%;
        height:200px;
        margin-left:50px;
    }
    
    .target-title {
        font-size: 20px;
        font-weight:normal !important;
    }
    
    .target-des {
        color: #869AB8;
        text-overflow: ellipsis;
        line-height: 2;
        margin-top:-20px;
    }
    
    .targets:nth-child(2) {
        margin-top: 10px;
    }
/*labels*/
.labels {
    margin-top: 40px;
    border-top: 1px solid #f1f4f8!important;
    border-bottom: 1px solid #f1f4f8!important;
}

.labels .container {
    margin-left: 22%;
}

.form-resources .container {
    width: 58%;
    margin:auto;
    padding-top:8%;
    padding-left: 3%; 
    display: flex;
}

.form-sample  {
 height:600px;
 width:400px;
 transition: transform ease-in 0.2s , box-shadow ease-in 0.2s;
}

.form-sample img {
    width:400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.form-sample form {
    display:flex;
    flex-direction: column;
}

.form-sample form input {
    padding-left: 0;
    padding-right: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
    height: 50px;
    margin-top: 10px;
    width: 80%;
    margin: auto;
    padding: 0;
    margin-top: 30px;
    position: relative;
}


.form-sample:hover {
    transform: translate3d(0,-5px,0);
    box-shadow: 0 5rem 6rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.05)!important;
}

.form-sample form input:focus  {
    outline-width: 0;
    border-bottom: 1px solid blue;
}


.form-sample form button {
    margin-top: 30px !important;
    margin: auto;
    width: 80%;
    height: 50px;
    background-color: #42BA96;
    border: 0;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

.form-description {
    width: 60%;
    margin-left: 10%;
    margin-top: 15%;
}
.form-description .title1 {
    font-size: 31px;
}

.form-description .description1 {
    font-size: 25px;
    color:#869AB8;
}
.test-success {
   color: #42ba96!important
}

.checked-items {
    margin-top: 20px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    color: #42BA96;
}

.checked-item-1{
    flex: 50%; 
}

.checked-item-2 {
    flex: 50%;
    text-align: left;
}

.checked-item-3{
    flex: 50%;
}

.checked-item-4{
    flex: 50%;
    text-align: left;
}

.item {
    margin-top: 10px;
}

.exp-building {
    width: 70%;
    height: 300px;
    margin: auto;
    margin-left: 24%;
    margin-top: 6%;
    display: flex;
    flex-direction:row;
}

.exp-building-des-com {
    width: 50%;
}

.exp-des-1 , .exp-des-2{
    width:80%;
    display: flex;
}

.exp p {
    width:45%;
    margin-left: 30px;

}

.exp-buiding-img img {
    width:700px;
    transform: rotateY(-35deg) rotateX(15deg);
    perspective: 200px;
    border-radius: 10px;
}

.exp img {
    height: 100px;
    padding-top: 15px;
}

/*retype animation*/
#retype::after {
	content: "|";
	animation:glow 0.75s infinite steps(16) forwards,
      caret 1s infinite;
}

@keyframes glow {
to { width: 0 }
}

@keyframes caret {
	50% { color: transparent }
}

