* {
    padding:0;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
ul {
list-style-type: none;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;

}

a:visited {
    color: black;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-primary {
    color:#335eea
}

section {
    display: block;
}

/*common-done*/
header {
    width:100%;
    padding: 20px 0px;
}

.container {
    max-width: 1040px;
    width:75%;
    margin:auto;
    overflow: visible;
}

@media (max-width: 996px) {
.container {
    width: 75% !important;
}

header .navbar-brand {
    padding-top: 10px;
}
}

@media (min-width: 1080px) {
    .container {
        min-width: 970px
    }
}


.flex-box {
    display:flex;
    justify-content: space-between;
    align-items:center;
    justify-items: center;
}

header .navbar-brand {
}

header .button-buy {
    border: 0;
    display: block;
    font-weight: 600;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    background-color:#335eea;
}

.navbar-dropmenu {
    width: 50%;
    margin: auto;
}

.navbar-items {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.dropdown-toggle {
    color: #506690;
    font-size: 17px;
}

.navbar-item {
    position:relative;
    padding: 20px 0px;
}

.navbar-item:hover > .dropdown-menu {
    visibility: visible;
    opacity:1;
    transform: translate3d(0,-5px,0);
    box-shadow: 0 5rem 6rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.05)!important;
}

.dropdown-menu {
    visibility: hidden;
    opacity: 0;
    font-size: .9375rem;
    color: #161c2d;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(22,28,45,.15);
    border-radius: .375rem;
    transition: visibility 0s, opacity 0.2s linear;
}

#dropdown-landings {
    width: 700px;
    position: absolute;
    top: 50px;
    left: -315px;
    height: 300px;
    box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 10%);
}

.landings-container {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: row;
}

.landings-container > .left-menu-container {
    width:50%;
    height:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url("/assets/img/photo-3.jpg");
    background-position: center;
    background-size:350px ;
    background-repeat: no-repeat;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
}


.landings-container > .left-menu-container::before {
    width:50%;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(51,94,234,.8);
    border-radius: inherit;
    z-index: 1;
}

.landings-container > .left-menu-container > * {
    z-index: 100;
    padding: 20px 0;
}

.landings-container > .left-menu-container > button {
    border: 0;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;

}
.landings-container .right-menu-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.landings-container > .right-menu-container > .right-part {
    display: flex;
    flex-direction: column;
    height: 80%;
}

.landings-container > .right-menu-container > .right-part > a {
    clear: both;
    font-weight: 400;
    color: #506690;
    text-align: inherit;
    white-space: nowrap;
}

.landings-container > .right-menu-container > .right-part {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height:80%;
    padding-top:15px;
}

.landings-container .right-menu-container h3 {
    font-weight: normal !important;
    color: rgba(51,94,234,.8) !important;
}

.landings-container > .right-menu-container > .left-part {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 80%;
    padding-top: 20px;
}

.landings-container > .right-menu-container > .left-part > a {
    clear: both;
    font-weight: 400;
    color: #506690;

}

.landings-container > .right-menu-container > .left-part > * {
}

.landings-container > .right-menu-container > .left-part > a {

}

#dropdown-pages {
    position:absolute;
    width: 500px;
    height:300px;
    top: 50px;
    left: -220px;
    background-color: white;
    box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 10%);
}

#dropdown-pages  .cols-pages {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: start;
    padding-top: 20px;
}

#dropdown-pages .cols-pages col {
    width: 30px;
}

.dropdown-header {
    margin-bottom: 0px;
}

#dropdown-pages > .cols-pages > col > .dropdown-item {
    color: #506690;
}
#dropdown-pages .cols-pages .dropdown-header {
    font-weight: normal;
    color:#335eea;
}

#dropdown-pages .cols-pages .dropdown-item {
    padding-top: 10px ;
    font-weight: normal;
    font-size: 17px;
}

.dropdown-account {
    position:absolute;
    top: 60px;
    left: -40px;
    height: 181px;
    width: 206px;
    box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 10%);
    display:flex
}

.dropdown-acc-layer1 {
    height:100%;
    width:80%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

.dropdown-account ul li {
    cursor: pointer;
}

.drop-acc-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-right: 30px;
}

.drop-acc-title {
    text-align: left;
}

.drop-acc-layer2-item1 {
    visibility: hidden;
    position:absolute;
    opacity: 0;
    top:0px;
    left: 210px;
    height:100%;
    width: 90%;
    border-radius:5px;
    color: #161c2d;
    text-align: left;
    background-clip: padding-box;
    background-color:aliceblue;
    transition: visibility 0s, opacity 0.2s linear;
}

.drop-acc-layer2-item2 {
    visibility: hidden;
    position:absolute;
    opacity: 0;
    top:30px;
    left: 210px;
    height:100%;
    width: 90%;
    border-radius:5px;
    color: #161c2d;
    text-align: left;
    background-clip: padding-box;
    background-color:aliceblue;
    transition: visibility 0s, opacity 0.2s linear;
}

.drop-acc-layer2-item3 {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:50px;
    left: 210px;
    height:100%;
    width: 90%;
    border-radius:5px;
    color: #161c2d;
    text-align: left;
    background-clip: padding-box;
    background-color:aliceblue;
    transition: visibility 0s, opacity 0.2s linear;
}

.drop-acc-layer2-item4 {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:70px;
    left: 210px;
    height:100%;
    width: 90%;
    border-radius:5px;
    color: #161c2d;
    text-align: left;
    background-clip: padding-box;
    background-color:aliceblue;
    transition: visibility 0s, opacity 0.2s linear;
}

.drop-acc-layer2-item5 {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:80px;
    left: 210px;
    height:100%;
    width: 90%;
    border-radius:5px;
    color: #161c2d;
    text-align: left;
    background-clip: padding-box;
    background-color:aliceblue;
    transition: visibility 0s, opacity 0.2s linear;
}

.layer2-container {
    height:100%;
    margin-top: 20px;
    height:75%;
    width:100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15px;
}

.item1 {
    padding-right: 70px;
}

.item1:hover > .drop-acc-layer2-item1 {
    visibility:visible;
    opacity: 1;
}
.item2:hover > .drop-acc-layer2-item2 {
    visibility:visible;
    opacity: 1;
}
.item3:hover > .drop-acc-layer2-item3 {
    visibility:visible;
    opacity: 1;
}
.item4:hover > .drop-acc-layer2-item4 {
    visibility:visible;
    opacity: 1;
}
.item5:hover > .drop-acc-layer2-item5 {
    visibility:visible;
    opacity: 1;
}

.drop-doc {
    position: absolute;
    background-color:white;
    left:-100px;
    top: 50px;
    width: 350px;
    height:300px;
    box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 10%);
}

.dropdown-menu-doc {
    width: 100%;
    height:100%;
}

.dropdown-menu-doc > ul {
    width: 100%;
    height: 100%;
}

.dropdown-item-doc {
    display: flex;
    height:33%;
    width:90%;
    margin:auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-item-doc:nth-child(2) {
    border-top: 0.5px solid rgba(22,28,45,.15);
    border-bottom: 0.5px solid rgba(22,28,45,.15);
}

.dropdown-item-doc svg {
    padding-right: 20px ;
    width: 13%;
    height: auto;
}

.dropdown-item-doc .item-doc-des {

}

.dropdown-item-doc .item-doc-des h3 {
    font-size:18px;
    text-transform: uppercase;
    font-weight:lighter;
    color:#335eea;
}

.dropdown-item-doc .item-doc-des p {
    font-size:16px;
}

#badge-doc {
    color: #335eea;
    background-color:rgba(51,94,234,.1);
    text-align: center;
    height: 19px;
    width:55px;
    border-radius:15px;
}

.navbar-toggler {
    display: none;
    border: 0;
    background-color: transparent;
    color:#506690;
    cursor: pointer;
    font-size: 25px;
}
/*responsive header */
@media (max-width: 996px) {
    .navbar-toggler {
        display: block;  
        margin-left: 400px;
    }
    .navbar-dropmenu {
        display: none;
    }

    header > .container > .button-buy {
        display:none;
    }
}

/*banner*/
.banner {
    width: 100%;
    padding-top: 60px;
}
    
.banner-image img {
    width: 550px;
}

.banner-image {
    padding-top: 20px;
}

.align-item {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.banner >  .container > .align-item > .left-part {
    margin-top: 20px;
    width: 450px;
    height: auto;
    width: 60%;
} 
.banner >  .container > .align-item > .left-part p {
        line-height: 1.2;
        font-size: 45px;
        font-weight: normal !important;
        margin-bottom: 2vh;
        text-align: left;
    }
    
.banner >  .container > .align-item > .left-part .description {
        color: #869AB8;
        font-size: 22px;
        line-height:1.3;
        width: 100%;
}

@media (max-width: 996px) {
.left-part p {
        line-height: 1.2;
        font-size: 29px !important;
        font-weight: normal !important;
        margin-bottom: 2vh;
}
.left-part .description {
    color: #869AB8;
    font-size: 20px !important;
    line-height:1.3;
    width: 300px;
}

.right-part img {
    width:350px;
    padding-left: 20px;
}
}
@media (max-width:768px) {
    .align-item {
        display: flex;
        flex-direction: column-reverse;
        justify-content:
    }
}



.buttons {
    padding-top: 40px;
    align-items: center;
    }
    
#btn-view {
        width:160px;
        height: 45px;
        color: white;
        font-size: 15px;
        background-color: #335eea;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 500;
        margin: 5px 5px 5px 0px;
}
    
#btn-doc {
        width:150px;
        height: 45px;
        color: #335eea;
        background:#E1E7FC;
        font-size: 15px;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 500;

}
    

 /*target-type */
.target-type {
    height: auto;
    padding: 70px 0;
}
    
.targets {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: -20px;
    margin-left: -20px;
}
.target {
    margin: auto;
    width:100%;
    padding: 20px 30px;
    max-width: 400px;
    min-width: 300px
}

@media (max-width: 760px)
{
    .targets {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.icon-label {
    
}

.icon-label svg {
    width: 3rem;
    height:3rem;
}
.target-title {
    font-size: 20px;
    font-weight:normal !important;
}
    
.target-des {
    font-size:18px;
    color: #869AB8;
}

/*labels*/
.labels {
 padding-bottom: 50px;
}

.label-items {
    border-top: 1px solid #f1f4f8!important;
    border-bottom: 1px solid #f1f4f8!important;
}

.label-item  {
    height:auto;
    width:150px;
    padding: 40px 0;
    color: #869ab8!important;
}

.form-resources {
}

.form-sample  {
 height:auto;
 width:100%;
 max-width: 400px;
 min-width: 400px;
 transition: transform ease-in 0.2s , box-shadow ease-in 0.2s;
 margin: 50px 0 0 0;
 padding: 50px 0 50px 0;
}

.form-sample img {
    width:400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.form-sample form {
    display:flex;
    flex-direction: column;
}

.form-sample form input {
    padding-left: 0;
    padding-right: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
    height: 50px;
    margin-top: 10px;
    width: 80%;
    margin: auto;
    padding: 0;
    margin-top: 30px;
    position: relative;
}


.form-sample:hover {
    transform: translate3d(0,-5px,0);
    box-shadow: 0 5rem 6rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.05)!important;
}

.form-sample form input:focus  {
    outline-width: 0;
    border-bottom: 1px solid blue;
}


.form-sample form button {
    margin-top: 30px !important;
    margin: auto;
    width: 80%;
    height: 50px;
    background-color: #42BA96;
    border: 0;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

.form-description {
    width: 100%;
    max-width: 420px;
    min-width: 320px;
    padding: 0 50px;
}
.form-description .title1 {
    font-size: 24px;
}

.form-description .description1 {
    font-size: 24px;
    color:#869AB8;
}
.test-success {
   color: #42ba96!important
}

.checked-items {
    margin-top: 20px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    color: #42BA96;
}

.checked-item-1{
    flex: 50%; 
}

.checked-item-2 {
    flex: 50%;
    text-align: left;
}

.checked-item-3{
    flex: 50%;
}

.checked-item-4{
    flex: 50%;
    text-align: left;
}

.item {
    margin-top: 10px;
}

@media (max-width: 996px) {
    .form-resources > .flex-box {
        display: flex;
        flex-direction: column-reverse;
        justify-content:space-between
    }

    .checked-items .items {
        display: flex;
        flex-direction: column;
    }
}
/*experience-building*/
.exp-building {
    width: 100%;
    height: auto;
    padding: 100px 0;
}

.exp {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding-top: 20px;
}

@media (max-width: 996px) {
    .exp-building > .flex-box {
        display: flex;
        flex-direction: column
    }
}

.exp-building-des-com {
    width: 70%;
}

.text-des {
    display: block;
    width:85%;
    padding-top:30px;
    line-height: 1.2;
}

.exp-title .title {
    font-weight:normal;
}

.text-muted {
    color:#869ab8!important;}

.title1 {
    font-weight:400;
}

.exp-des {
    font-size: 17px;
    padding-top: 20px;
    line-height: 1.5;
    color:#869ab8
}

.exp-title {
    font-size:25px;
}
.text-des h4 {
    padding-bottom:10px;
}

.exp svg {
    height: auto;
    width: 50px;
}

.exp-buiding-img {
    width: 50%;
}

.exp-buiding-img img {
    margin-left: 70px;
    width: 100%;
    max-width:700px;
    min-width: 400px;
    transform: rotateY(-35deg) rotateX(15deg);
    perspective-origin: left center;
    border-radius: 10px;
    transform-style: preserve-3d ;
    box-shadow: 25px 60px 125px -25px rgb(80 102 144 / 10%), 16px 40px 75px -40px rgb(0 0 0 / 20%);

}

.exp img {
    height: 100px;
}

.exp-buiding-img {
    padding: 50px 0 ;
    position: relative;
    right: 100px;
}

.exp-buiding-img .shape {
    color:#869ab8;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 50%;
    width: 80%;
    transform: translateX(-50%) scale(1.3);
    color: #f1f4f8!important;
}
/*retype animation*/
#retype::after {
	content: "|";
	animation:glow 0.75s infinite steps(16) forwards,
      caret 1s infinite;
}

@keyframes glow {
to { width: 0 }
}

@keyframes caret {
	50% { color: transparent }
}
/*customer feedback*/

.feedback-center {
    margin: auto;
    width:100%;
    padding: 50px 0;
    text-align: center;
}

.text-center {
    margin: auto;
}

.text-center > h2 {
    line-height: 1.35;
    font-weight: normal;
    padding-bottom: 20px;
}

.text-center p {
    width: 52%;
    margin: auto;
    text-align:center;
    color: #869ab8!important;
}